<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        HttpCookie cookie = Request.Cookies["session"];
        string profile = null;
        bool estConnecte = false;
        if (cookie != null)
        {
            Guid cleSession = Guid.Parse(cookie.Value);
            SupRestoWow.Models.Compte compte = SupRestoWow.Auth.CacheSession.Instance.Obtenir(cleSession);
            if (compte != null)
            {
                profile = "Bonjour, " + compte.Nom;
                estConnecte = true;
            }
            else
            {
                SupRestoWow.Auth.CacheSession.Instance.Retirer(cleSession);   
            }
        }
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Restaurateurs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, null)</li>

                    @{
                        if (estConnecte)
                        {
                            <li>@Html.ActionLink("Modifier", "Creer", "Compte/Modifier", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Deconnexion", "Deconnexion", "Compte/Deconnexion", new { area = "" }, null)</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Inscription", "Creer", "Compte/Creer", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Connexion", "Connexion", "Compte/Connexion", new { area = "" }, null)</li>
                        }
}

                </ul>
            </div>
            <div class="profile">
                @profile
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Restaurateurs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
