@model SupRestoWow.Models.Compte

@{
    ViewBag.Title = "ModificationCompte"; 
}

<h2>Modification de votre compte</h2>

@using(Html.BeginForm("Modifier", "Compte"))
{
    @Html.HiddenFor(m => m.Id)
   <table>
        <tr>
            <th>
                <label for="@Html.IdFor(m => m.Nom)">Nom complet</label>
            </th>
            <td>@Html.TextBoxFor(m => m.Nom)
                @Html.ValidationMessageFor(m => m.Nom)
            </td>
        </tr>

        <tr>
            <th>
                <label for="@Html.IdFor(m => m.Courriel)">Courriel</label>
            </th>
            <td>@Html.TextBoxFor(m => m.Courriel)
                @Html.ValidationMessageFor(m => m.Courriel)
            </td>
        </tr>

        <tr>
            <th>
                <label for="@Html.IdFor(m => m.Adresse)">Adresse</label>
            </th>
            <td>@Html.TextBoxFor(m => m.Adresse)
                @Html.ValidationMessageFor(m => m.Adresse)
            </td>
        </tr>

        <tr>
            <th>
                <label for="@Html.IdFor(m => m.Telephone)">Numéro de téléphone</label>
            </th>
            <td>@Html.TextBoxFor(m => m.Telephone)
                @Html.ValidationMessageFor(m => m.Telephone)
            </td>
        </tr>

        <tr>
            <th>
                <label for="@Html.IdFor(m => m.DateNaissance)">Date de naissance</label>
            </th>
            <td>@Html.TextBoxFor(m => m.DateNaissance)
                @Html.ValidationMessageFor(m => m.DateNaissance)
            </td>
        </tr>
        <tr>
            <th>
                <label for="@Html.IdFor(m => m.MotDePasse)">Mot de passe</label>
            </th>
            <td>@Html.PasswordFor(m => m.MotDePasse)
                @Html.ValidationMessageFor(m => m.MotDePasse)
            </td>
        </tr>
    </table>

<input type="submit" value="Enregistrer"/>    
}
